<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8">
 </head>
<title>
<%= post.title %>
</title>
  <body>
title=<%= post.title %><br>
detail = <%= post.body %><br>
<a href= "/" > GO BACK </a>
</body>
</html>
